.container-fluid {
    position: relative;
    overflow:auto;
}

.container-fluid img {
    width:100%;
    height: auto;
    display: block;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1; 
}

.overlay-content h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.overlay-content p {
    font-size: 1.2em;
    
}
.banner-img{
    width: 80%;


}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
/*         
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
} */

.footer-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-body ul {
    list-style: none;
    padding: 0;
}

.footer-body ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-body .right-panel {
    display: flex;
    align-items: center;
}

.footer-body .right-panel span {
    margin-right: 5px;
}
#announcements-link {
    position: absolute;
    top: 1px; 
    right: 1px; 
    box-shadow: 2px 2px 5px rgba(180, 154, 154, 0.2); 
    color: white;
}
/* .table-responsive  {
    max-width: 100%;
    overflow-x: auto;
}

#scroll th {
    background-color: #f8f9fa;
    color: #999; 
  
}
#scroll {
    overflow-x: auto;
}

#table-main {
    width: 100%;
    white-space: nowrap;
}




 */